.fetcher {
  margin: 2.5em min(2em, 2vw);
  padding: min(1.5em, 2vw);

  border-radius: 4px;
  background-color: var(--overlay);

  p {
    margin: 0.5em 0; // Decrease paragraph spacing
    font-family: var(--monospace);
    font-size: 0.9em;
  }
}

.prompt {
  margin-left: 1em;

  &::before {
    content: "> ";
    font-weight: bold;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  gap: 0.25em;
  margin: 1em min(1em, 4vw) 0 min(1em, 4vw);
}

.art {
  margin-bottom: 1em;

  img {
    filter: drop-shadow(0 0 1px var(--primary));
  }

  .not-hover {
    display: block;
  }
  .hover {
    display: none;
  }

  &:hover {
    .not-hover {
      display: none;
    }
    .hover {
      display: block;
    }
  }
}

.info {
  margin-left: 1em;
}

.groups {
  display: inline-block;

  margin-right: 1em;
  padding: 0.25em 0.75em;

  border: 2px solid var(--primary);
  border-radius: 6px;

  color: var(--secondary);

  svg {
    margin: 0;
  }
}

.data {
  display: inline-block;
  border: 2px solid transparent;
  padding: 0.25em 0;
}

.palette {
  margin: 1em 0 1em 1em;

  * {
    padding: 0.025em 1.4em;
  }

  .primary {
    background-color: var(--primary);
  }

  .secondary {
    background-color: var(--secondary);
  }

  .tertiary {
    background-color: var(--tertiary);
  }
}

.stamp-row {
  margin: 1em 0;

  img {
    transition: transform 0.05s linear;

    &:focus, &:hover {
      transform: rotate(2deg);
    }
  }
}
