{{
  $sites := slice
    (dict
      "title" "Mycorrhiza"
      "link" "https://mycorrhiza.space"
      "img" "mycorrhiza_button3.webp"
    )
    (dict
      "title" "Eggramen"
      "link" "https://eggramen.neocities.org"
      "img" "eggramen_button2_simple.webp"
    )
    (dict
      "title" "Gildedware"
      "link" "https://gildedware.neocities.org/index.html"
      "img" "gildedware_button.webp"
    )
}}

{{ range $sites }}
<a href="{{ .link | safeURL }}" title="{{ .title }}" target="_blank" rel="noopener noreferrer">
  {{ with resources.Get (print "images/sites/" .img) }}
    <img src="{{ .RelPermalink }}" />
  {{ end }}
</a>
{{ end }}
