$body: "Karla", "Work Sans", sans-serif;
$heading: "iA Writer Duo", "IBM Plex Mono", "Source Code Pro", monospace;
$monospace: "iA Writer Mono", "IBM Plex Mono", "Source Code Pro", monospace;

:root {
  --body: #{$body};
  --heading: #{$heading};
  --monospace: #{$monospace};
}
