[data-theme="dark"] {
  .ph-sun-icon {
    display: none;
  }

  --bg: rgb(30, 28, 53);
  --fg: rgb(230, 215, 212);
  --fg-dim: rgb(195, 182, 197);
  --overlay: rgb(42, 41, 65);
  --overlay-dim: rgb(38, 36, 60);

  --primary: rgb(253, 180, 215);
  --secondary: rgb(240, 150, 220);
  --tertiary: rgb(190, 140, 252);

  --bg-img: url(../images/mimvoid_cat-spades_dark.webp);
  --bg-color: var(--bg);
}

[data-theme="light"] {
  .ph-moon-icon {
    display: none;
  }

  --bg: rgb(254, 235, 238);
  --fg: rgb(36, 28, 52);
  --fg-dim: rgb(64, 48, 80);
  --overlay: rgb(246, 212, 232);
  --overlay-dim: rgb(246, 220, 232);

  --primary: rgb(192, 42, 112);
  --secondary: rgb(160, 42, 162);
  --tertiary: rgb(92, 48, 154);

  --bg-img: url(../images/mimvoid_cat-spades_light.webp);
  --bg-color: var(--bg);
}

:root {
  --heading-color: var(--tertiary);

  --border-size: 2px;
  --active-border: var(--primary);
  --inactive-border: var(--secondary);

  --link-color: var(--primary);
  --link-color-old: var(--secondary);

  --bg-size: 165px;
}
