:root {
  --bg: rgb(31, 30, 55);
  --fg: rgb(232, 223, 221);
  --overlay: rgb(44, 43, 68);
  --overlay-dim: rgb(40, 38, 64);

  --primary: rgb(250, 180, 220);
  --secondary: rgb(222, 140, 230);
  --tertiary: rgb(175, 128, 250);

  --active-border: var(--primary);
  --inactive-border: var(--secondary);
  --link-color: var(--primary);
  --link-color-old: var(--secondary);

  --bg-img: url(../images/mimvoid_cat-spades.webp);
  --bg-size: 165px;
}

// TODO: replace the colors
@media (prefers-color-scheme: light) {
  :root {
    --bg: rgb(31, 30, 55);
    --fg: rgb(232, 223, 221);
    --overlay: rgba(68, 65, 91, 0.35);

    --primary: rgb(250, 180, 220);
    --secondary: rgb(222, 140, 230);
    --tertiary: rgb(175, 128, 250);

    --active-border: var(--primary);
    --inactive-border: var(--secondary);
    --link-color: var(--primary);
    --link-color-old: var(--secondary);

    --bg-img: url(../images/mimvoid_cat-spades.webp);
    --bg-size: 160px;
  }
}
