@keyframes pop {
  from, to {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  80% {
    transform: scale(1.02);
  }
}

@keyframes pull-down {
  $base: -0.5em;

  from, to {
    top: $base;
  }
  60%, 70% {
    top: $base + 0.95em;
  }
  65% {
    top: $base + 1em; // peak
  }
  85% {
    top: $base - 0.15em; // overshoot
  }
}

@keyframes float {
  from, to {
    transform: translatey(0);
  }

  50% {
    transform: translatey(-0.1em);
  }
}

.pop:hover {
  animation: 0.25s ease-in-out pop;
}

.pull-down {
  animation: 0.3s ease-in-out pull-down;
}

.float {
  animation: 0.5s ease-in-out float infinite;
}

@media (prefers-reduced-motion: reduce) {
  .pop:hover, .pull-down, .float {
    animation-duration: 0s;
  }
}
