@use "./partials/mixins";

@keyframes pop {
  from {
    @include mixins.scale(1);
  }
  50% {
    @include mixins.scale(0.95);
  }
  80% {
    @include mixins.scale(1.02); // overshoot
  }
  to {
    @include mixins.scale(1);
  }
}

@keyframes pull-down {
  $base: -0.5em;

  from {
    top: $base;
  }
  60% {
    top: $base + 0.95em;
  }
  65% {
    top: $base + 1em;
  }
  70% {
    top: $base + 0.95em;
  }
  85% {
    top: $base - 0.15em; // overshoot
  }
  to {
    top: $base;
  }
}

.pop:hover {
  animation: 0.25s ease-in-out pop;
}

.pull-down {
  animation: 0.3s ease-in-out pull-down;
}

@media (prefers-reduced-motion: reduce) {
  .pop:hover, .pull-down {
    animation-duration: 0s;
  }
}
