.cards {
  margin: 2.5em 0;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
  gap: 0.5em;
}

.card {
  padding: 0.5em 1em;
  border-radius: var(--border-radius);
  background-color: var(--overlay-dim);
}
