@use "partials/font-face" as * with ($path: "../fonts");

// trispace bold
@include font(
  $family: "Trispace",
  $file: "trispace_800",
  $weight: 800,
  $local: "Trispace ExtraBold"
);

// ia-writer-monospace
@include font(
  $family: "iA Writer Mono",
  $file: "ia-writer-monos_regular"
);

// ia-writer-monospace bold
@include font(
  $family: "iA Writer Mono",
  $file: "ia-writer-monos_bold",
  $weight: bold
);

// livvic-regular - latin
@include font(
  $family: Livvic,
  $file: "livvic",
  $local: "Livvic Regular"
);

// livvic-italic - latin
@include font(
  $family: Livvic,
  $file: "livvic_italic",
  $style: italic
);

// livvic-600 - latin
@include font(
  $family: Livvic,
  $file: "livvic_600",
  $weight: bold
);

// livvic-600italic - latin
@include font(
  $family: Livvic,
  $file: "livvic_600-italic",
  $weight: bold,
  $style: italic
);
