@use "partials/font-face" as * with ($path: "../fonts");

// ia-writer-duospace bold
@include font(
  $family: "iA Writer Duo",
  $file: "ia-writer-duos_bold",
  $weight: 700
);

// ia-writer-monospace
@include font(
  $family: "iA Writer Mono",
  $file: "ia-writer-monos_regular"
);

// ia-writer-monospace bold
@include font(
  $family: "iA Writer Mono",
  $file: "ia-writer-monos_bold",
  $weight: bold
);

// karla-regular - latin
@include font(
  $family: Karla,
  $file: "karla_400",
  $local: "Karla Regular"
);

// karla-italic - latin
@include font(
  $family: Karla,
  $file: "karla_400-italic",
  $style: italic
);

// karla-600 - latin
@include font(
  $family: Karla,
  $file: "karla_600",
  $weight: bold
);

// karla-600italic - latin
@include font(
  $family: Karla,
  $file: "karla_600-italic",
  $weight: bold
);
