@use "variables/palette";
@use "variables/looks";

footer {
  margin-block: 3em 2em;
  font-size: 0.95em;
  background-color: var(--bg);
}

// Vim-like status bar
.bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  row-gap: 1em;
  padding-block: 0.15em;

  .left, .right {
    padding: 0;
    display: inline-block;

    p {
      padding: 0.25em 0.5em;
      display: inline; // Put them all on one line
    }
  }
}

// Accented background, dark text
.status-high {
  color: var(--bg);
  background-color: var(--primary);

  // Make children visible against the background
  a {
    color: inherit;
  }
}

// Lighter background, accented text
.status-mid {
  color: var(--primary);
  background-color: var(--overlay);
}

.status-low {
  opacity: 0.75;
}
