@use "./variables/palette";
@use "./variables/looks";

footer {
  margin: 3em 0 2em 0;
  font-size: 0.95em;
  background-color: var(--bg);

  // Vim-plugin-like status bar
  .bar {
    display: flex;
    flex-flow: row wrap;
    row-gap: 1em;
    justify-content: space-between;
    padding: 0.25em 0;

    * {
      padding: 0;
      display: inline-block;
    }

    .left p,
    .right p {
      padding: 0.25em 0.5em;
      display: inline; // Put them all on one line
    }

    // Specific footer elements

    // Accented background, dark text
    #mode,
    #top_link {
      color: var(--bg);
      background-color: var(--primary);

      // Make children visible against the background
      a {
        color: var(--bg);
      }

      i {
        background-color: var(--bg);
      }
    }

    // Lighter background, accented text
    #source-code,
    #credits {
      color: var(--primary);
      background-color: var(--overlay);
    }

    // Style the source code section's icon
    #source-code {
      i {
        @include looks.transition;
        background-color: var(--primary);
      }

      &:focus i,
      &:hover i {
        background-color: var(--tertiary);
      }
    }

    // Text in the middle section
    #author,
    #filetype {
      opacity: 0.75;
    }
  }
}
