@use "./variables/palette";
@use "./variables/fonts";
@use "./variables/looks";

*,
::before,
::after {
  box-sizing: border-box;
}

// Site-wide styling
html {
  scroll-behavior: smooth;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

body {
  margin: 0;
  color: var(--fg);

  background: var(--bg-img) var(--bg-color);
  background-size: var(--bg-size);
  background-attachment: fixed;
  image-rendering: crisp-edges; // for background

  font-family: var(--body);
  font-size: 1em;
  letter-spacing: 0.015em;
  line-height: 1.45;

  * {
    image-rendering: auto; // reset
  }
}

/*---------
 * Headings
 *---------*/

$headings: (
  h1: 3em,
  h2: 2.25em,
  h3: 1.75em,
  h4: 1.25em,
  h5: 1em,
  h6: 0.8em
);

@each $h, $size in $headings {
  #{$h},
  .#{$h} {
    font-family: var(--heading);
    font-size: $size;
    letter-spacing: -0.03em;
    color: var(--heading-color);
  }
}

h1,
.h1 {
  @include looks.transition;
  margin-bottom: 0.75em;
  text-shadow:
    0.5px 0.5px 0 var(--bg),
    2px 2px 0 rgb(from var(--primary) r g b / 0.5);

  &:hover {
    color: var(--tertiary);
    text-shadow:
      1.5px 1.5px 0 var(--bg),
      3px 3px 0 rgb(from var(--heading-color) r g b / 0.5);
  }
}

/*-------
 * Text
 *-------*/

// Make text slightly bolder
p,
li,
span {
  text-shadow: 0 0.01px 0, 0.01px 0 0;
}
.pangram p {
  text-shadow: none;
}

strong,
.primary {
  color: var(--primary);
}

em,
.secondary {
  color: var(--secondary);
}

.tertiary {
  color: var(--tertiary);
}

.large {
  margin: 1.25em 0;
  font-size: 1.75em;

  p {
    margin: 0.5em 0;
  }
}

.small,
figcaption {
  font-size: 0.9em;
}

// Make sure kaomoji don't split due to wrapping
.kaomoji {
  display: inline-block;
}

/*-------
 * Links
 *-------*/

a {
  @include looks.transition;

  text-decoration: none;
  color: var(--link-color);

  &:focus, &:hover {
    color: var(--tertiary);
    text-decoration-style: wavy;

    h1, h2, h3, h4, h5, h6 {
      color: inherit;
    }
  }

  &.footnote-ref,
  &.footnote-backref {
    text-decoration: none;
  }

  &:has(img) {
    text-decoration: none;
  }
}

// Only change color for links in main content
main a {
  text-decoration: underline 1px var(--tertiary);
  color: var(--link-color-old);

  &:not(:visited) {
    color: var(--link-color);
  }
}

.footnotes {
  font-size: 0.9em;

  li p {
    margin: 0.5em 0;
  }

  strong,
  em {
    color: var(--fg);
  }
}

/*-------
 * Lists 
 *-------*/

ul ul {
  padding-left: 2rem;
}

li {
  padding: 0.2rem 0;

  // color the bullet points
  &::marker {
    @include looks.transition;
    color: var(--primary);
  }

  &:focus::marker,
  &:hover::marker {
    color: var(--tertiary);
  }
}

/*------------------------
 * Details (toggle blocks)
 *------------------------*/

// replace the default triangle marker
nav details summary {
  display: block;

  &::-webkit-details-marker {
    display: none;
  }
}

summary {
  position: relative;
  font-weight: bold;
  cursor: pointer;

  svg {
    @include looks.transition;
    color: var(--primary);
  }

  &:focus svg,
  &:hover svg {
    color: var(--tertiary);
  }
}

.details-content {
  position: relative;
  left: 0.4rem;

  overflow: hidden;
  white-space: nowrap;

  border-left: 1px var(--tertiary) solid;

  p {
    text-indent: 0.75em;
    text-overflow: ellipsis ellipsis;
  }
}

details.nested {
  summary {
    left: 0.75rem;
  }

  .details-content {
    left: 1.2rem;
    p {
      text-indent: 0.85em;
    }
  }
}

/*-------------
 * Blockquotes
 *-------------*/

blockquote {
  margin: 2em 0;
  padding: 0.5em 1.5em;

  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  border-left: 4px solid var(--active-border);

  background-color: var(--overlay-dim);
}

/*----------
 * Fieldsets
 *----------*/

fieldset {
  @include looks.border-radius;
  @include looks.transition;

  margin: 2em 0;
  padding: 1.5em;
  border: 1px solid var(--inactive-border);

  &:focus,
  &:hover {
    border-color: var(--active-border);

    legend {
      color: var(--active-border);
    }
  }
}

legend {
  @include looks.transition;
  font-weight: bolder;
  color: var(--inactive-border);
}

/*--------
 * Tables
 *--------*/

table {
  @include looks.border-radius;

  border-collapse: collapse;
  border: 1px solid var(--active-border);

  background-color: var(--overlay);
}
thead {
  font-weight: bold;
  color: var(--secondary);
}
td {
  padding: 0.25em 0.75em;
}

.headless thead {
  display: none;
}

.plain table, table.plain {
  background-color: transparent;
  border: none;

  thead, tbody, tr, td {
    border: none;
  }
  td {
    padding: 0.25em 0.5em;
  }
}

/*-------------
 * Code blocks
 *-------------*/

pre {
  @include looks.border-radius;
  padding: 1rem;
  font-family: var(--monospace);
  font-size: 0.875rem;
  text-wrap: wrap;
}

[data-theme="dark"] .highlight pre {
  background-color: var(--overlay-dim) !important;
}

/*--------
 * Images
 *--------*/

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

// Figures

figure {
  margin: 1em 0 2em 0;
}
figcaption {
  color: var(--fg-dim);
}

/*----------------
 * Horizontal rule
 *----------------*/

hr {
  margin: 1.5em 0;
  border: none;
  border-bottom: 1px solid rgb(from var(--secondary) r g b / 0.5);
}

hr.date-hr {
  overflow: visible;
  margin: 0 0 2.25em;
  text-align: center;

  &::before {
    @include looks.transition;
    content: "❤ ♠ ❤";

    display: inline-block;
    position: relative;
    top: 0.75em;
    padding: 0 0.5em;

    color: var(--secondary);
    background-color: var(--bg);
    opacity: 0.9;
  }

  &:hover::before {
    color: var(--primary);
  }
}

/*------------
 * Date stats
 *------------*/

.dates {
  text-align: right;
  font-size: 0.9em;
}
