@use "./variables/palette";
@use "./variables/fonts";
@use "./variables/looks";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.75em;
  padding: 0.5em 2.5em 0 2.5em;
  background-color: var(--bg);

  .right {
    display: flex;
  }

  .tabs {
    margin: 0.5em 1em;

    * {
      display: inline;
    }

    #nav_home {
      @include looks.transition;

      margin-right: 1rem;
      font-weight: bold;
      color: var(--fg);

      svg {
        @include looks.transition;
        height: 16px;
        width: 16px;
        margin-right: 0.5em;

        color: var(--primary);
      }

      &:focus, &:hover {
        color: var(--tertiary);
        svg {
          color: var(--tertiary);
        }
      }
    }

    #nav_pages * {
      margin-right: 0.25rem;

      &:before {
        content: "~/";
        color: var(--fg);
        opacity: 0.6;
      }
    }
  }

  svg {
    @include looks.transition;
    opacity: 0.85;

    &:focus, &:hover {
      opacity: 1;
    }
  }

  button {
    margin-right: 1em;
    cursor: pointer;

    border: none;
    background-color: transparent;
    color: var(--fg-dim);
  }

  .actions {
    .ph-minus-icon {
      color: var(--primary);
    }
    .ph-cards-icon {
      color: var(--secondary);
    }
    .ph-x-icon {
      color: var(--tertiary);
    }
  }
}
