@use "./variables/palette";
@use "./variables/fonts";
@use "./variables/looks";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.75em;
  padding: 0.5em 2.5em 0 2.5em;
  background-color: var(--bg);

  .tabs {
    margin: 0.5em 1em;

    * {
      display: inline;
    }

    #nav_home {
      @include looks.transition;

      margin-right: 1rem;
      font-weight: bold;
      color: var(--fg);

      img {
        margin-right: 0.5em;
      }

      &:focus, &:hover {
        color: var(--tertiary);
        img {
          // Simulate the icon changing to tertiary
          filter: hue-rotate(-40deg) saturate(175%) brightness(0.9);
        }
      }
    }

    #nav_pages * {
      margin-right: 0.25rem;

      &:before {
        content: "~/";
        color: var(--fg);
        opacity: 0.6;
      }
    }
  }

  .actions {
    i {
      @include looks.transition;
      opacity: 0.85;

      &:focus, &:hover {
        opacity: 1;
      }
    }

    #minimize {
      color: var(--primary);
    }
    #resize {
      color: var(--secondary);
    }
    #close {
      color: var(--tertiary);
    }
  }
}
