svg:not(.mimvoid_icon) {
  position: relative;
  display: inline-block;
  vertical-align: -0.12em;
  margin-right: 0.25em;
}

// Sidebar navigation folders
details > summary {
  .ph-folder-simple {
    display: inline-block;
  }
  .ph-folder-open {
    display: none;
  }
}

details[open] > summary {
  .ph-folder-simple {
    display: none;
  }
  .ph-folder-open {
    display: inline-block;
  }
}
