svg:not(.mimvoid_icon-icon) {
  position: relative;
  display: inline-block;
  vertical-align: -0.12em;
  margin-right: 0.25em;

  font-size: 0.925em;
}

// Sidebar navigation folders
details > summary {
  .ph-folder-simple-icon {
    display: inline-block;
  }
  .ph-folder-open-icon {
    display: none;
  }
}

details[open] > summary {
  .ph-folder-simple-icon {
    display: none;
  }
  .ph-folder-open-icon {
    display: inline-block;
  }
}
