@use "sass:color";
@use "./variables/palette";
@use "./variables/looks";

/*--------------------------
 * Body & sidebar positions
 *--------------------------*/

#wrapper {
  padding: 0 5%;
}

.body {
  display: flex;

  .sidebar {
    flex: 20%;
    nav {
      position: sticky;
      top: 1em;
    }
  }

  main {
    flex: 80%;
  }
}

/*---------------
 * Content boxes
 *---------------*/

.box {
  @include looks.transition;
  @include looks.border-radius;

  border: var(--border-size) solid var(--inactive-border);
  margin: 0.75em 0.5em;

  background-color: rgba(from var(--bg) r g b / 0.9);
  backdrop-filter: blur(4px);

  &:hover, &:has(*:focus) {
    border-color: var(--active-border);
    background-color: var(--bg);
    backdrop-filter: none;
    opacity: 1;
  }
}

// The content box always has the active border color
article.box {
  border-color: var(--active-border);
}

.sidebar nav > .box {
  padding: 0.6em 0.8em;

  details, p {
    margin: 0.5em 0;
  }

  p, a, summary {
    font-size: 0.96em;
  }
}

main > .box {
  margin-left: 0.3em;
  padding: 1.5em 3em;
}

.row-direction {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

.extra-box {
  padding: 1.5em;
  text-align: center;
  align-content: center;

  h2 {
    font-size: 1.5em;
  }
}

