@mixin header-pad($scale) {
  header {
    padding-left: $scale;
    padding-right: $scale;
  }
}

@mixin wrapper-pad($scale) {
  #wrapper {
    padding: 0 $scale;
  }
}

/*-------------------------
 * Different screen ratios
 *-------------------------*/

@media (max-width: 840px) {
  @include wrapper-pad(4%);
}

@media (max-width: 700px) {
  @include wrapper-pad(2%);
  @include header-pad(0.75em);
}

@media (orientation: portrait), (max-width: 440px) {
  @include wrapper-pad(0);
  @include header-pad(0);

  header .actions {
    display: none;
  }
  #nav_home, #nav_pages {
    display: block;
  }
  #nav_home {
    margin-bottom: 0.25em;
  }

  .body {
    display: block;
  }
  .sidebar {
    position: static;
    margin: 0.75em 0;

    nav > .box {
      max-height: initial; // avoid scrolling
    }
  }

  .box {
    margin: 0.4em;
  }
  main > .box {
    padding-left: 4%;
    padding-right: 4%;
  }

  footer .bar {
    justify-content: center;
    font-size: 0.85em;

    * {
      white-space: nowrap;
    }
  }
}
