/*-------------------------
 * Different screen ratios
 *-------------------------*/

@media (max-width: 940px) {
  header {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
}

@media (max-width: 840px) {
  #wrapper {
    padding: 0 4%;
  }

  header {
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media (max-width: 700px) {
  #wrapper {
    padding: 0 1%;
  }

  header {
    padding-left: 0.75em;
    padding-right: 0.75em;
  }
}

@media (orientation: portrait), (max-width: 440px) {
  #wrapper {
    padding: 0;
  }

  header {
    padding-left: 0;
    padding-right: 0;
  }

  .body {
    display: inline;
  }

  .box {
    margin: 0.4em;
  }

  .sidebar {
    #home-link {
      display: none;
    }

    nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: stretch;
      position: static;
      margin: 0.75em 0;

      .box {
        flex-grow: 1;
      }
    }
  }

  main > .box {
    padding: 1em;
  }

  footer .bar {
    justify-content: center;
    overflow: scroll;
    font-size: 0.85em;

    * {
      white-space: nowrap;
    }
  }
}
