// Keyframes

// Used for the view transition when switching themes
@keyframes circle-in {
  from {
    clip-path: circle(0% at 75% 0%);
  }
  to {
    clip-path: circle(125% at 75% 0%);
  }
}

@keyframes pop {
  from, to {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  80% {
    transform: scale(1.02);
  }
}

@keyframes window-open {
  from {
    transform: scale(1, 0.25) translateY(-20%);
  }
  80% {
    transform: scale(1.02, 1.05) translateY(1%);
  }
  to {
    transform: scale(1, 1) translateY(0);
  }
}

@keyframes window-close {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.5, 0);
  }
}

@keyframes pull-down {
  from, to {
    transform: translateY(0);
  }
  60%, 70% {
    transform: translateY(0.75em) scaleY(1.25);
  }
  65% {
    transform: translateY(0.8em) scaleY(1.5); // peak
  }
  85% {
    transform: translateY(-0.1em) scaleY(0.9); // overshoot
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes float {
  from, to {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.1em);
  }
}

@keyframes fade-in-out {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes fade-in-out-sharp {
  from, 25%, 75%, to {
    opacity: 1;
  }
  30%, 70% {
    opacity: 0;
  }
}

// Classes
@media (prefers-reduced-motion: no-preference) {
  // View transitions
  ::view-transition-old(root) {
    animation-delay: 0.5s;
  }
  ::view-transition-new(root) {
    animation: circle-in 0.5s;
  }

  .pop:hover {
    animation: 0.25s ease-in-out pop;
  }

  .window-open {
    animation: 0.15s ease-in-out window-open;
  }
  .window-close {
    animation: 0.15s ease-in-out window-close;
  }

  .pull-down {
    animation: 0.3s ease-in-out pull-down;
  }

  .spin {
    animation: 0.5s ease-in-out spin;
  }

  .float {
    animation: 0.5s ease-in-out float infinite;
  }

  .fade-in-out {
    animation: 1s ease-in-out fade-in-out infinite;
  }
}
