@use "../abstracts/utils" as u;

/*-------------------------
 * Different screen ratios
 *-------------------------*/

@media (min-width: #{u.$mobile-max + 1px}) {
  .mobile-only {
    display: none;
  }
}

@media (max-width: 840px) {
  #wrapper {
    padding-inline: 4%;
  }
}

@media (max-width: 700px) {
  #wrapper {
    padding-inline: 2%;
  }

  header {
    padding-inline: 0.75em;
  }
}

@media (max-width: u.$mobile-max) {
  // Navigation
  .nav-wrapper {
    display: none;

    position: fixed;
    inset: 0;
    z-index: 999;

    overflow: clip auto;
    max-height: 100vh; // fallback
    max-height: 100dvh;

    margin: 4px;
    padding-right: 0.5em;
    font-size: 1.25rem;

    &:focus,
    &:focus-within,
    &:hover {
      box-shadow: none;
      background-color: rgb(from var(--bg) r g b / 0.9);
      backdrop-filter: blur(3px) contrast(140%);
    }

    button {
      // Right align
      display: block;
      margin-left: auto;
      margin-right: 0;

      border: none;
      color: var(--fg-dim);
      background: transparent;
      font-size: 1.25em;
    }

    nav .box {
      overflow: clip auto;
      margin: 0;
      padding: 0;
      border: none;
      background-color: transparent;
      backdrop-filter: none;

      &:focus,
      &:focus-within,
      &:hover {
        background-color: transparent;
        box-shadow: none;
      }
    }
  }

  #wrapper,
  header {
    padding-inline: 0;
  }

  .desktop-only {
    display: none;
  }

  #nav_home,
  #nav_pages,
  .body,
  .h-boxes {
    display: block;
  }

  #nav_home {
    margin-bottom: 0.25em;
  }

  .sidebar {
    position: static;
    margin: 0.75em 0;

    nav .box {
      max-height: initial; // avoid scrolling
    }
  }

  main > .box {
    padding-inline: 4%;
  }

  footer .bar {
    justify-content: center;
    font-size: 0.85em;

    * {
      white-space: nowrap;
    }
  }
}
