{{ with resources.Get "images/sites/links.json" | transform.Unmarshal }}
  <div>
    {{ range .buttons }}
      <a href="{{ .link | safeURL }}" title="{{ .title }}" target="_blank" rel="noopener noreferrer">
        <img
          {{ with resources.Get (path.Join "images/sites" .img) }}
            src="{{ .RelPermalink }}"
            width="{{ .Width }}"
            height="{{ .Height }}"
          {{ end }}
          alt="Website button for {{ .title }}"
        />
      </a>
    {{ end }}
  </div>
  <div class="buttonless">
    {{ range .buttonless }}
      <a href="{{ .link | safeURL }}" title="{{ .title }}" target="_blank" rel="noopener noreferrer">
        <p>{{ .title }}</p>
      </a>
    {{ end }}
  </div>
{{ end }}
