{{ range resources.Get "images/stamps/data.json" | transform.Unmarshal }}
  <div class="stamp-row">
    {{ range . }}
      <a href="{{ .link }}" target="_blank" rel="noopener noreferrer">
        <img
          {{ with resources.Get (print "images/stamps/" .file) }}
            src="{{ .RelPermalink }}"
            width="{{ .Width }}"
            height="{{ .Height }}"
          {{ end }}
          alt="{{- .alt -}}"
          loading="lazy"
        />
      </a>
    {{ end }}
  </div>
{{ end }}
