{{
  $firstStamps := slice
    (dict
      "file" "krita_Lizbeth-von-Rabbit_DA.webp"
      "link" "https://www.deviantart.com/lizbeth-von-rabbit/art/KRITA-user-stamp-393703940"
      "alt" "Krita user stamp"
    )
    (dict
      "file" "ocs_StampMakerLKJ_DA.png"
      "link" "https://www.deviantart.com/stampmakerlkj/art/Original-Characters-stamp-370654472"
      "alt" "Cute original characters stamp with hearts"
    )
    (dict
      "file" "tbh_food-exe_DA.webp"
      "link" "https://www.deviantart.com/food-exe/art/Tbh-Stamp-924545268"
      "alt" "Cute TBH creature stamp"
    )
    (dict
      "file" "draw-my-charas_Aviseya_DA.webp"
      "link" "https://www.deviantart.com/aviseya/art/Yes-you-may-draw-my-characters-Stamp-527260219"
      "alt" "Yes you may draw my characters stamp"
    )
    (dict
      "file" "computer_DEEcat98_DA.webp"
      "link" "https://www.deviantart.com/deecat98/art/Doing-stuff-on-the-Computer-Stamp-520707605"
      "alt" "I love to do stuff on the computer stamp"
    )
    (dict
      "file" "ocs_raila_DA.webp"
      "link" "https://www.deviantart.com/raila/art/Love-to-make-OCs-158514694"
      "alt" "I love making OCs stamp"
    )
    (dict
      "file" "always-tired.webp"
      "link" "https://stampsetc.tumblr.com/post/178957295775/sleep-related-stamps-for-anon"
      "alt" "Pink and lacy stamp saying 'Always Tired'"
    )
}}

{{
  $catStamps := slice
    (dict
      "file" "stamp2_iLikeWaffles96_DA.webp"
      "link" "https://www.deviantart.com/ilikewaffles96/art/stamp-2-754084904"
      "alt" "Stamp of a surprised cat meme"
    )
    (dict
      "file" "jiji_JustYoungHeroes_DA.gif"
      "link" "https://www.deviantart.com/justyoungheroes/art/Jiji-Kiki-s-Delivery-Service-570971890"
      "alt" "Animated stamp of Jiji from Kiki's Delivery Service dozing off and waking up"
    )
    (dict
      "file" "louis-wayne-1_chuchucolate_DA.webp"
      "link" "https://www.deviantart.com/chuchucolate/art/Cats-Louis-Wayne-1-Stamp-386045765"
      "alt" "Stamp of a cat by Louis Wayne"
    )
    (dict
      "file" "louis-wayne-2_chuchucolate_DA.webp"
      "link" "https://www.deviantart.com/chuchucolate/art/Cats-Louis-Wayne-2-Stamp-386046033"
      "alt" "Stamp of a cat by Louis Wayne"
    )
}}

{{
  $songStamps := slice
    (dict
      "file" "kikuo_PuniPlush_DA.webp"
      "link" "https://www.deviantart.com/puniplush/art/Kikuo-Stamp-619431058"
      "alt" "Kikuo stamp"
    )
    (dict
      "file" "echo_FakeTsuki_DA.webp"
      "link" "https://www.deviantart.com/faketsuki/art/Song-Stamp-Echo-501129714"
      "alt" "Stamp with the character from the song Echo"
    )
}}

{{
  $aestheticStamps := slice
    (dict
      "file" "011_0celots_DA.webp"
      "link" "https://www.deviantart.com/0celots/art/011-665965573"
      "alt" "Stamp with a wall decoration saying 'It could be worse'"
    )
    (dict
      "file" "no-signal_egraut_DA.webp"
      "link" "https://www.deviantart.com/egraut/art/no-signal-stamp-643361669"
      "alt" "Stamp with television color bars indicating no signal"
    )
    (dict
      "file" "stars_AlbinoSeaTurtle_DA.webp"
      "link" "https://www.deviantart.com/albinoseaturtle/art/I-Love-Stars-stamp-413959173"
      "alt" "Animated twinkling stars stamp saying 'I love stars'"
    )
    (dict
      "file" "49_your-blue-aesthetic_DA.webp"
      "link" "https://www.deviantart.com/your-blue-aesthetic/art/aesthetic-stamp-49-734604574"
      "alt" "Pixel art of a blue city stamp"
    )
    (dict
      "file" "meow_Gay-Mage-Of-Space_DA.webp"
      "link" "https://www.deviantart.com/gay-mage-of-space/art/Meow-660786656"
      "alt" "A pink stamp saying 'Meow' with cat ears and whiskers"
    )
}}

{{
  $miscStamps := slice
    (dict
      "file" "plague-rat_Alice91_DA.webp"
      "link" "https://www.deviantart.com/alice91/art/Plague-rat-stamp-112248828"
      "alt" "Proud to be a plague rat stamp"
    )
    (dict
      "file" "yee_LadyRebeccaStamps_DA.webp"
      "link" "https://www.deviantart.com/ladyrebeccastamps/art/Yee-stamp-674585426"
      "alt" "The yee meme stamp"
    )
    (dict
      "file" "fermata_thechaosproject_DA.webp"
      "link" "https://www.deviantart.com/thechaosproject/art/fermata-stamp-71813073"
      "alt" "Music sheet stamp saying 'Shut up', with a fermata over a rest"
    )
    (dict
      "file" "rolypoly.webp"
      "link" "https://raining-starss.neocities.org/garfpenis%20(4).png"
      "alt" "Stamp with a pillbug and a heart"
    )
    (dict
      "file" "very-important_MemeMeInside_DA.png"
      "link" "https://www.deviantart.com/mememeupinside/art/very-important-stamp-586001179"
      "alt" "A light pink stamp of screaming AAAAAA"
    )
    (dict
      "file" "doggo.webp"
      "link" "https://raining-starss.neocities.org/3423%20(3).png"
      "alt" "Sparkly stamp with the face of a cute stuffed dog"
    )
}}

{{ range slice $firstStamps $catStamps $songStamps $aestheticStamps $miscStamps }}
  <div class="stamp-row">
    {{ range . }}
      {{ $resource := resources.Get (print "images/stamps/" .file) }}
      <a href="{{ .link }}" target="_blank" rel="noopener noreferrer">
        <img src="{{ $resource.RelPermalink }}" alt="{{- .alt -}}" />
      </a>
    {{ end }}
  </div>
{{ end }}
