$padX: clamp(0em, 3em, 6%);

article.box {
  padding-left: $padX;
  padding-right: $padX;
}

.guestbook {
  position: relative;
  left: calc(-1 * $padX);
  min-width: calc(100% + (2 * $padX));
  border: none;
}

// Reduce padding
.box.extra-box {
  padding: 0.5em;
}
