<!doctype html>
<html lang="{{ site.Language }}" dir="ltr" data-theme="dark">

<head>
  {{ partial "head/head" . }}
  <!-- Extra content for the head (e.g. custom styles) -->
  {{ block "head-extra" . }}{{ end }}
</head>

<body>
  {{ block "body" . }}

    {{- partial "header" . -}}

    <div id="wrapper">
      <div class="body">
        <div class="sidebar">
          {{- partial "nav/nav" . -}}
          {{ block "sidebar-extra" . }}{{ end }}
        </div>

        <main>
          {{- block "main-box" . -}}
            {{- block "pre-article" . -}}
            {{- end -}}
            <article class="box">
              {{- block "article-head" . -}}
              {{- end -}}

              {{- block "title" . -}}
                {{- partial "title" . -}}
              {{- end -}}

              {{- block "main" . -}}
                {{ .Content -}}
              {{- end -}}

              {{- partial "dates" . -}}
            </article>
            {{- block "body-extra" . -}}{{- end -}}
          {{- end -}}
        </main>

      </div>
      {{- partial "footer" . -}}
    </div>

  {{- end -}}
</body>

</html>
