<!doctype html>
<html lang="{{ site.Language }}" dir="ltr" data-theme="dark">

<head>
  {{ partial "head.html" . }}
  <!-- Extra content for the head (e.g. custom styles) -->
  {{ block "head-extra" . }}{{ end }}
</head>

<body>
  {{ block "body" . }}

    {{- partial "header.html" . -}}

    <div id="wrapper">
      <div class="body">
        {{- partial "nav/nav.html" . -}}

        <main>
          <article class="box">
            {{- block "main" . -}}{{- end -}}
            {{- partial "dates.html" . -}}
          </article>
          {{- block "body-extra" . -}}{{- end -}}
        </main>

      </div>
      {{- partial "footer.html" . -}}
    </div>

  {{- end -}}
</body>

</html>
