{{ define "head-extra" }}
<style>.stamp-row { margin: 1em 0; }</style>
{{ end }}

{{ define "title" }}
  {{- with .Params.customTitle -}}
    <h1>{{- . -}}</h1>
  {{- else -}}
    <h1>{{- site.Title -}}</h1>
  {{- end -}}
{{ end }}

{{ define "body-extra" }}
<aside>
  <div class="row-direction">
    <div class="box extra-box badges">
      {{ partial "home/badges" }}
    </div>
    <div class="box extra-box buttons">
      {{ partial "home/buttons" }}
    </div>
  </div>
  <div class="box extra-box stamps">
    {{ partial "home/stamps" }}
  </div>
</aside>
{{ end }}
