{{ define "title" }}
  {{- with .Params.customTitle -}}
    <h1>{{- . -}}</h1>
  {{- else -}}
    <h1>{{- site.Title -}}</h1>
  {{- end -}}
{{ end }}

{{ define "sidebar-extra" }}
<div class="box extra-box site-buttons">
  {{ $buttons := slice (dict "ver" "1" "color" "Dark") (dict "ver" "2" "color" "Light") }}
  {{ range $buttons }}
    <a
      {{ with site.GetPage "site-buttons" }}href="{{ .RelPermalink }}"{{ end }}
      title="mimvoid's little corner"
    >
      <img
        {{ with resources.Get (printf "images/site-button/mimvoid_button%s.gif" .ver) }}
        src="{{ .RelPermalink }}"
        {{ end }}
        alt="{{ .color }} animated site button for mimvoid's little corner"
      />
    </a>
  {{ end }}
</div>
{{ end }}

{{ define "body-extra" }}
<aside>
  <div class="h-boxes">
    <div class="box extra-box updates">
      {{ with site.GetPage "updates" }}
        <h2><a href="{{ .RelPermalink }}">Updates</a></h2>
        {{ .Summary }}
        <p>...</p>
        <a href="{{ .RelPermalink }}">Read more</a>
      {{ end }}
    </div>
    <div class="box extra-box status larger">
      <fieldset>
        <legend>Status</legend>
        {{ with site.GetPage "status" }}
          <p>
            <strong>mimvoid</strong> <span class="date">{{ .Lastmod | time.Format "02 Jan 2006" }}</span>
          </p>
          {{ .Summary }}
        {{ end }}
      </fieldset>
      <pre>ฅ/ᐠ｡‸｡ᐟ\ฅ</pre>
    </div>
  </div>
  <div class="h-boxes">
    <div class="larger">
      <div class="box extra-box badges">
        {{ partial "decor/badges" }}
      </div>
      <div class="box extra-box sites">
        <h2>Corners of the Web</h2>
        {{ partial "decor/sites" }}
      </div>
    </div>
    <div class="box extra-box webrings">
      <h2>Webrings</h2>
      <p>Under construction</p>
    </div>
  </div>
</aside>
{{ end }}
