{{ define "title" }}
  {{- with .Params.customTitle -}}
    <h1>{{- . -}}</h1>
  {{- else -}}
    <h1>{{- site.Title -}}</h1>
  {{- end -}}
{{ end }}

{{ define "sidebar-extra" }}
<div class="box extra-box site-buttons">
  {{ $buttons := slice (dict "ver" "1" "color" "Dark") (dict "ver" "2" "color" "Light") }}
  {{ range $buttons }}
    <a
      {{ with site.GetPage "site-buttons" }}href="{{ .RelPermalink }}"{{ end }}
      title="mimvoid's little corner"
    >
      <img
        {{ with resources.Get (printf "images/site-button/mimvoid_button%s.gif" .ver) }}
        src="{{ .RelPermalink }}"
        {{ end }}
        alt="{{ .color }} animated site button for mimvoid's little corner"
      />
    </a>
  {{ end }}
</div>
{{ end }}

{{ define "body-extra" }}
<aside>
  <div class="box extra-box badges">
    {{ partial "decor/badges" }}
  </div>
  <div class="box extra-box sites">
    <h2>Corners of the Web</h2>
    {{ partial "decor/sites" }}
  </div>
</aside>
{{ end }}
