.large {
  margin: 1.25em 0;
  font-size: 1.75em;

  p {
    margin: 0.5em 0;
  }
}

@mixin font($family, $file, $ext: "woff2", $weight: 400, $style: normal) {
  @font-face {
    font-display: swap;
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    src: local(#{$family}), url("./fonts/#{$file}.#{$ext}") format("woff2");
  }
}

@include font(
  $family: "Office Code Pro",
  $file: "officeCodePro-rg"
);

@include font(
  $family: "Source Code Pro",
  $file: "sourceCodePro-rg",
  $ext: "ttf.woff2"
);

@include font(
  $family: "Fira Code",
  $file: "firaCode-rg"
);

@include font(
  $family: "Victor Mono",
  $file: "victorMono-rg"
);

@include font(
  $family: "Victor Mono",
  $file: "victorMono-italic",
  $style: italic
);
