<footer>
  <div class="bar">
    <div class="left">
      <p class="status-high">
        {{ partial "utils/svg" "ph-compass" }}
        NORMAL
      </p>
      <p class="status-mid">
        <a href="https://github.com/mimvoid/neocities-site">
          {{ partial "utils/svg" "ph-code" }}
          source code
        </a>
      </p>
      <p class="status-low">{{ site.Copyright }}</p>
    </div>
    <div class="right">
      <p class="status-low">html</p>
      <p class="status-mid">
        {{ with site.GetPage "/credits" }}
          <a href="{{ .RelPermalink }}">credits</a>
        {{ end }}
      </p>
      <p class="status-high">
        {{ partial "utils/svg" "ph-calendar-heart" }}
        Mod: {{ partial "utils/time" (dict "time" site.Lastmod "format" "02.01.06") }}
      </p>
    </div>
  </div>
</footer>
