<footer>
  <div class="bar">
    <div class="left">
      <p class="status-high">
        {{ partial "svg" "ph-compass" }}
        NORMAL
      </p>
      <p class="status-mid">
        <a href="https://github.com/mimvoid/neocities-site">
          {{ partial "svg" "ph-code" }}
          source code
        </a>
      </p>
      <p class="status-low">{{ site.Copyright }}</p>
    </div>
    <div class="right">
      <p class="status-low">html</p>
      <p class="status-mid">
        <a href="/credits">credits</a>
      </p>
      <p class="status-high">
        {{ partial "svg" "ph-calendar-heart" }}
        {{ with site.Lastmod }}
          {{ $machineFmt := "2006-01-02T15:04:05-07:00" }}
          {{ $humanFmt := "02.01.06" }}
          <time datetime="{{ .Format $machineFmt }}">
            Mod: {{ .Format $humanFmt }}
          </time>
        {{ end }}
      </p>
    </div>
  </div>
</footer>
