<footer>
  <div class="bar">
    <div class="left">
      <p id="mode">
        <i class="ph-fill ph-compass"></i>
        NORMAL
      </p>
      <p id="source-code">
        <a href="https://github.com/mimvoid/neocities-site">
          <i class="ph-bold ph-code"></i>
          source code
        </a>
      </p>
      <p id="author">{{ .Site.Copyright }}</p>
    </div>
    <div class="right">
      <p id="filetype">html</p>
      <p id="credits">
        <a href="/credits">credits</a>
      </p>
      <p id="top_link">
        <a href="#top">
          <i class="ph-fill ph-caret-up"></i>
          Top
        </a>
      </p>
    </div>
  </div>
</footer>
