<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />

{{/* Should be called early to reduce flashing */}}
<script is:inline>
  const theme = localStorage.getItem("theme") || "dark";
  document.documentElement.setAttribute("data-theme", theme);
</script>

<title>
  {{ if not .IsHome }}{{- .Title }} &ndash; {{ end }}{{ site.Title }}
</title>

<meta name="description" content="{{ .Description }}" />
<meta property="og:description" content="{{ .Description }}" />

<link rel="canonical" href="{{ .Permalink }}">

<meta property="og:type" content="article" />
<meta property="site_name" content="{{ site.Title }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:locale" content="en_US" />
<meta name="author" content="mimvoid" />

{{ partial "utils/style" "scss/style.scss" }}
{{ if or .Params.zoomable (or .Params.character .Params.gallery) }}
  {{ partial "utils/style" "scss/extra/figure-zoom.scss" }}
{{ end }}
{{ if .Params.zoomable }}
  {{ partial "utils/script" "ts/figureZoom/figureZoom.ts" }}
{{ end }}
{{ if or .Params.character .Params.gallery }}
  {{ partial "utils/style" "scss/extra/gallery-zoom.scss" }}
  {{ partial "utils/script" "ts/figureZoom/galleryZoom.ts" }}
{{ end }}
{{ partial "utils/script" "ts/themeToggle/main.ts" }}
