<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>
  {{ block "title" . }}
    {{ if not .IsHome }}{{ .Title | title }} &ndash; {{end}}{{ .Site.Title }}
  {{ end }}
</title>

<link rel="canonical" href="{{ .Permalink }}">

<!-- Define the description -->
{{ $description := "" -}}
{{ if .Description -}}
  {{ $description = .Description -}}
{{ end -}}

{{ if $description -}}
  <meta name="description" content="{{ $description }}" />
{{ end -}}

<meta property="og:type" content="article" />
<meta property="og:title" content="{{ .Site.Title }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta name="author" content="mimvoid" />
