<header>
  <nav class="tabs">
    <a id="nav_home" href="/">
      {{ partial "svg" "mimvoid_icon" }}
      {{ site.Title }}
    </a>
    <div id="nav_pages">
      {{ range site.Menus.tabs }}
        <a href="{{ .Page.RelPermalink }}">
          {{ .Name }}
        </a>
      {{ end }}
    </div>
  </nav>
  <div class="right">
    <button type="button" name="theme_toggle" aria-label="Change to light theme">
      {{ partial "svg" "ph-sun" }}
      {{ partial "svg" "ph-moon" }}
    </button>
    <div class="actions">
      <a href="https://neocities.org/site/mimvoid">
        {{ partial "svg" "ph-minus" }}
      </a>
      <a href="https://neocities.org/site/mimvoid">
        {{ partial "svg" "ph-cards" }}
      </a>
      <a href="https://neocities.org">
        {{ partial "svg" "ph-x" }}
      </a>
    </div>
  </div>
</header>
