<header>
  <nav class="tabs">
    <a id="nav_home" href="/">
      <img src="icons/mimvoid_icon.svg" height="16" width="16" />
      <p>{{ .Site.Title }}</p>
    </a>
    <div id="nav_pages">
      {{ range .Site.Menus.tabs }}
        <a href="{{ with .Page }}{{ .RelPermalink }}{{ end }}" title="{{ .Title }}">{{ .Name }}</a>
      {{ end }}
    </div>
  </nav>
  <div class="actions">
    <a href="{{ .Site.Home.RelPermalink }}">
      <i id="minimize" class="ph-bold ph-minus"></i>
    </a>
    <a href="{{ .Site.Home.RelPermalink }}">
      <i id="resize" class="ph-bold ph-cards"></i>
    </a>
    <a href="https://neocities.org/">
      <i id="close" class="ph-bold ph-x"></i>
    </a>
  </div>
</header>
