<div class="sidebar">
  <nav>
    <div class="box">
      <p><a href="/">Home</a></p>
    </div>
    <div class="box">
      <details>
        <summary>
          <i class="ph-bold ph-folder"></i>
          Biology
        </summary>
        <div class="details-content">
          <p><a href="/biology/critter-shoutouts">Critter Shoutouts</a></p>
          <p><a href="/biology/flora-shoutouts">Flora Shoutouts</a></p>
          <p><a href="/biology/fungi-shoutouts">Fungi Shoutouts</a></p>
        </div>
      </details>
      <details>
        <summary>
          <i class="ph-bold ph-folder"></i>
          Design
        </summary>
        <div class="details-content">
          <p><a href="/design/my-favorite-fonts">My Favorite Fonts</a></p>
        </div>
      </details>
    </div>
  </nav>
</div>
