@use "../fonts/jott-flf";

.polaroid {
  margin: 0 0 0.5rem 0;
  padding: 0.5rem;
  border-radius: 0;

  box-shadow: 0 0.1rem 0.25rem rgb(from var(--fg-dim) r g b / 0.5);
  background-color: ghostwhite;
  transition: transform 0.05s linear;

  &:not(.no-rotate) {
    &:focus, &:hover {
      transform: rotate(1deg);
    }
  }
}

figure.polaroid {
  img {
    width: 100%;
  }

  figcaption {
    color: var(--text-color);
  }

  a {
    color: var(--link-color)
  }

  figcaption p {
    margin: 0.1rem 0.15rem 0.25rem;
    font-family: "Jott FLF";
    font-size: 0.9rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

img.polaroid.avatar {
  padding: 0.2em 0 0 0;
  border: 0.8em solid ghostwhite;
  border-bottom-width: 1.2em;
  background-color: var(--img-bg);
}

[data-theme="dark"] .polaroid {
  --text-color: var(--bg);
  --link-color: var(--overlay);
  --img-bg: var(--fg-dim);
}

[data-theme="light"] .polaroid {
  --text-color: var(--fg);
  --link-color: var(--fg-dim);
  --img-bg: var(--overlay-dim);
}
