<ruby>
  {{- $wordSplit := split .word " " -}}
  {{- $numWords := len $wordSplit -}}

  {{- $rubySplit := split .ruby " " -}}
  {{- $numRuby := len $rubySplit -}}

  {{- if eq $numWords $numRuby -}}
    {{- range seq 0 (sub $numWords 1) -}}
      {{ index $wordSplit . }}
      {{ with index $rubySplit . }}
        <rt>{{- . -}}</rt>
        <rp>{{- . -}}</rp>
      {{ end }}
    {{- end -}}
  {{- else -}}
    {{- .word -}}
    <rt>{{- .ruby -}}</rt>
    <rp>{{- .ruby -}}</rp>
  {{- end -}}
</ruby>
