.ph-bold,
.ph-fill {
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  vertical-align: -0.25em;

  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;

  background-color: currentColor;
}

.ph-minus {
  --svg: url(../icons/ph-minus.svg);
}

.ph-cards {
  --svg: url(../icons/ph-cards.svg);
}

.ph-x {
  --svg: url(../icons/ph-x.svg);
}

.ph-compass {
  --svg: url(../icons/ph-compass.svg);
}

.ph-code {
  --svg: url(../icons/ph-code.svg);
}

.ph-caret-up {
  --svg: url(../icons/ph-caret-up.svg);
}
