<div class="sidebar">
  <nav>
    <div class="box" id="home-link">
      <p><a href="/">Home</a></p>
    </div>
    <div class="box">

      <!-- Iterate over first-level sections -->
      {{ range site.Sections }}
      <details>
        <summary>
          <i class="ph-bold ph-folder"></i>
          <a
            href="{{ .Page.RelPermalink }}"
            {{ if ne .Title .LinkTitle }}
              title="{{ .Title }}"
            {{ end }}
          >
            {{ .LinkTitle }}
          </a>
        </summary>
        <div class="details-content">
          <!-- Go down another level -->
          {{ range .Page.Sections }}
            <details class="nested">
              <summary>
                <i class="ph-bold ph-folder"></i>
                <a
                  href="{{ .RelPermalink }}"
                  {{ if ne .Title .LinkTitle }}
                    title="{{ .Title }}"
                  {{ end }}
                >
                  {{ .LinkTitle }}
              </a>
              </summary>

              <div class="details-content">
                <!-- And one more -->
                {{ range .Page.Sections }}
                  <details class="nested">
                    <summary>
                      <i class="ph-bold ph-folder"></i>
                      <a
                        href="{{ .RelPermalink }}"
                        {{ if ne .Title .LinkTitle }}
                          title="{{ .Title }}"
                        {{ end }}
                      >
                        {{ .LinkTitle }}
                      </a>
                    </summary>
                    <div class="details-content">
                      {{ range .Pages }}
                        <p>
                          <a
                            href="{{ .RelPermalink }}"
                            {{ if ne .Title .LinkTitle }}
                              title="{{ .Title }}"
                            {{ end }}
                          >
                            {{ .LinkTitle }}
                          </a>
                        </p>
                      {{ end }}
                    </div>
                  </details>
                {{ end }}

                {{ range .RegularPages }}
                  <p>
                    <a
                      href="{{ .RelPermalink }}"
                      {{ if ne .Title .LinkTitle }}
                        title="{{ .Title }}"
                      {{ end }}
                    >
                      {{ .LinkTitle }}
                    </a>
                  </p>
                {{ end }}
              </div>
            </details>
          {{ end }}

          <!-- And list the pages -->
          {{ range .Page.RegularPages }}
            <p>
              <a href="{{ .RelPermalink }}" {{ if ne .Title .LinkTitle }}title="{{ .Title }}"{{ end }} >
                {{ .LinkTitle }}
              </a>
            </p>
          {{ end }}

        </div>
      </details>
      {{ end }}

    </div>
  </nav>
</div>
