@use "sass:list";
@use "sass:map";

$path: "./fonts" !default;

$formats: (
  "woff2": "woff2",
  "otf": "opentype",
  "ttf": "truetype"
);

@mixin font(
  $family,
  $file: $family,
  $weight: 400,
  $style: normal,
  $ext: "woff2",
  $path: $path
) {
  // Evaluate the src
  $fmt: map.get($formats, $ext);
  $src: local(#{$family}), url("#{$path}/#{$file}.#{$ext}") format($fmt);

  // Search locally for non-variable fonts
  $local-bold: "";
  $local-italic: "";

  @if $style == italic {
    $local-italic: " Italic";
  }
  @if $weight == bold {
    $local-bold: " Bold";
  }

  $local: $local-bold + $local-italic;
  @if $local != "" {
    $src: list.join(local("#{$family}#{$local}"), $src);
  }

  @font-face {
    font-display: swap;
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}
