$sections: (1: info, 2: details, 3: history, 4: relations, 5: gallery, 6: extra);

@each $i, $class in $sections {
  // Layer folder-style tabs on top of each other
  label[for="tab-nav-#{$i}"] {
    z-index: #{10 - $i};
  }

  // Display sections only when they're selected
  section.#{$class} {
    display: none;
  }
  main:has(#tab-nav-#{$i}:checked) {
    section.#{$class} {
      display: block;
    }

    // Hide summary in later sections
    @if $i != 1 {
      .summary {
        display: none;
      }
    }
  }
}

.character-tabs ~ .box {
  margin-top: 0;
}

.character-tabs {
  $left-offset: 0.5em;

  display: flex;
  flex-wrap: wrap-reverse;

  margin: 1em 0 0 (0.35em + $left-offset);

  font-family: var(--body);
  font-size: 0.95rem;

  label {
    cursor: pointer;
    transition: color 0.25s ease-in-out;

    margin-left: -$left-offset;
    padding: 0.75em 2em 0.75em 1em;
    border: 1px solid var(--bg);
    border-bottom: none;

    color: var(--primary);
    background-color: var(--overlay-dim);

    // Style an active tab label
    &:focus,
    &:hover {
      border-color: var(--active-border);
      color: var(--tertiary);
      background-color: var(--bg);
    }
  }

  input {
    // Hide radio input circles
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;

    &:checked + label {
      @extend label, :hover;
      z-index: 999 !important;
      transform: scaleY(1.1);
      border-bottom: none;
    }

    &:focus + label {
      text-decoration: 1px solid underline;
    }
  }
}
