@use "../abstracts/utils" as u;

.title-box {
  margin-block: 1em;
  padding-block: 1em;

  text-align: center;

  h1.title {
    margin-top: 0.25em;
    margin-bottom: 0.5em;
    font-size: 5em;

    @media (max-width: u.$mobile-max) {
      font-size: 4em;
    }
  }
}

#nav_home {
  font-family: var(--body);
}

#theme_toggle .spin {
  animation: none;
}

footer .bar svg {
  display: none;
}
