{{ define "head-extra" }}
  {{ partial "utils/style" "scss/extra/aegis-of-death.scss" }}
{{ end }}

{{ define "pre-article" }}
  {{ if .Params.character }}
    {{ partial "worlds/character-tabs" . }}
  {{ end }}
{{ end }}

{{ define "article-head" }}
  {{ if and (not .Params.character) .IsPage }}
    {{ partial "worlds/breadcrumb" . }}
  {{ end }}
{{ end }}

{{ define "title" }}
  {{ with .Params.classification }}
    <div class="with-classification" data-classification="{{ . }}">{{ partial "title" $ }}</div>
  {{ else }}
    {{ partial "title" . }}
  {{ end }}
{{ end }}
