{{ define "head-extra" }}
  {{ partial "utils/style" "scss/pages/aegis-of-death.scss" }}
  {{ if eq .Parent .FirstSection }}
    {{ partial "utils/script" "ts/typewriter.ts" }}
  {{ end }}
{{ end }}

{{ define "header" }}
  {{ partial "worlds/header" "worlds/aegis-of-death" }}
{{ end }}
{{ define "nav" }}
  {{ partial "worlds/nav" "worlds/aegis-of-death" }}
{{ end }}

{{ define "pre-body" }}
  {{ if eq .Parent .FirstSection }}
    <div class="title-box">
      <h1 class="title typewriter" data-speed="150">Aegis of Death</h1>
      <p><em>What does it mean to be a human?</em></p>
      <p><em>What does it mean to live?</em></p>
      {{ partial "utils/svg" "AOD" }}
    </div>
  {{ end }}
{{ end }}

{{ define "pre-article" }}
  {{ if .Params.character }}
    {{ partial "worlds/character-tabs" . }}
  {{ end }}
{{ end }}

{{ define "article-head" }}
  {{ if and (not .Params.character) .IsPage }}
    {{ partial "worlds/breadcrumb" . }}
  {{ end }}
{{ end }}

{{ define "title" }}
  {{ with .Params.classification }}
    <div class="with-classification" data-classification="{{ . }}">{{ partial "title" $ }}</div>
  {{ else }}
    {{ partial "title" . }}
  {{ end }}
{{ end }}

{{ define "main" }}
  {{ if not (eq .Parent .FirstSection) }}
    {{ partial "utils/svg" "AOD" }}
  {{ end }}
  {{ .Content }}
{{ end }}
