{{ define "head-extra" }}
  {{ partial "utils/style" "scss/pages/sacrificial.scss" }}
  {{ if .Params.character }}
    <style>h1 { font-size: 3.5em; }</style>
  {{ end }}
{{ end }}

{{ define "nav" }}
  {{ partial "worlds/nav" "worlds/sacrificial" }}
{{ end }}

{{ define "pre-body" }}
  {{ if eq .Parent .FirstSection }}
    <div class="title-box">
      <h1 class="title">Sacrificial</h1>
    </div>
  {{ end }}
{{ end }}

{{ define "pre-article" }}
  {{ if .Params.character }}
    {{ partial "worlds/character-tabs" . }}
  {{ end }}
{{ end }}

{{ define "article-head" }}
  {{ if and (not .Params.character) .IsPage }}
    {{ partial "worlds/breadcrumb" . }}
  {{ end }}
{{ end }}
