@keyframes float-hover {
  from {
    transform: translatey(0);
  }

  to {
    transform: translatey(-0.25em);
  }
}

fieldset {
  background-color: rgba(from var(--overlay-dim) r g b / 0.5);

  &.icons {
    text-align: center;
    padding: 1.5em 2.5em;
    background-color: rgba(from var(--overlay-dim) r g b / 0.5);
  }
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4em, 1fr));
  justify-items: center;
  align-items: start;
  justify-content: center;
  gap: 1em 2.5em;

  svg {
    animation: 2s ease-in-out float infinite;
    width: 3.5em;
    height: 3.5em;
    color: var(--fg);
    transition: var(--transition);
  }

  a:focus svg, a:hover svg {
    color: var(--primary);
    animation: 0.15s ease-in-out float-hover forwards;
  }

  p {
    margin-bottom: 0; 
  }
}

// Extra boxes

@media (orientation: landscape) {
  div:has(> .updates, > .status) {
    max-height: 20em;
  }

  .updates {
    max-width: 22em;
  }

  .webrings {
    max-width: 16em;
  }
}

@media (orientation: portrait) {
  .updates {
    max-height: 20em;
  }
}

.updates, .status {
  text-align: left;
  overflow: scroll;
}
.status {
  fieldset {
    padding: 1em 1.5em 1.25em 1.5em;

    .date {
      margin-left: 0.5em;
      color: var(--fg-dim);
      font-size: 0.9em;
    }
  }

  pre {
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: center;
  }
}

.webrings {
  padding: 1.25em 1em;
}
.webrings-box {
  font-size: 0.8em;
}

.buttonless {
  margin-top: 1em;
}

.buttonless a {
  display: inline-block;
  position: relative;

  width: 88px;
  height: 31px;

  border: 1px solid var(--fg);
  margin: 0 0.1rem;
  overflow: hidden;

  color: var(--bg);
  text-decoration: none;

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: 0;
    font-size: 0.65em;
    font-weight: bold;
    line-height: 1;
  }

  // Alternate colors every 3 links
  &:nth-child(3n+1) {
    background-color: var(--primary);
  }
  &:nth-child(3n+2) {
    background-color: var(--secondary);
  }
  &:nth-child(3n+3) {
    background-color: var(--tertiary);
  }
}
