:root {
  // Safont webring
  --g1v5x3-background-color: transparent !important;
  --g1v5x3-padding: 0.5em !important;
  --g1v5x3-title-font: var(--body) !important;
  --g1v5x3-title-color: var(--fg) !important;
  --g1v5x3-text-family: var(--body) !important;
  --g1v5x3-text-color: var(--fg) !important;
  --g1v5x3-text-height: 1.5 !important;
  --g1v5x3-link-family: var(--body) !important;
  --g1v5x3-link-color: var(--primary) !important;
}

@keyframes float-hover {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-0.25em);
  }
}

fieldset {
  background-color: rgb(from var(--overlay-dim) r g b / 0.5);

  &.icons {
    text-align: center;
    padding: 1.5em 2.5em;
  }
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4em, 1fr));
  gap: 1em 2.5em;

  svg {
    animation: 2s ease-in-out float infinite;
    width: 3.5em;
    height: 3.5em;
    color: var(--fg);
    transition: var(--transition);
  }

  a:focus svg, a:hover svg {
    color: var(--primary);
    animation: 0.15s ease-in-out float-hover forwards;
  }

  p {
    margin-bottom: 0; 
  }
}


// Extra boxes

@media (orientation: landscape) {
  div:has(> .updates, > .status) {
    max-height: 21em;
  }

  .updates {
    max-width: 22em;
  }

  .webrings {
    max-width: 16em;
  }
}

@media (orientation: portrait) {
  .updates {
    max-height: 20em;
  }
}

.updates, .status {
  text-align: left;
  overflow: auto;
}

.status {
  fieldset {
    padding: 1em 1.5em 1.25em 1.5em;

    time {
      margin-left: 0.5em;
      color: var(--fg-dim);
      font-size: 0.9em;
    }
  }

  pre {
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: center;
  }
}


// Webrings

.webrings {
  min-width: 14rem;
  padding: 1.25em 1em;
}

.webrings-box {
  font-size: 0.85em;
}

.webring {
  margin-block: 2em;
  color: var(--color, inherit);
  font-family: var(--monospace);
  text-decoration: none;

  .name {
    margin-block: 1em;
    padding: 0.4em 0.75em;
    color: var(--bg);
    background-color: var(--color);
    font-weight: bold;

    a {
      color: inherit;
    }
  }

  .webring-links a {
    color: inherit;
    padding-inline: 0.5em;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  p {
    margin-block: 0.75em;
  }

  svg {
    margin: 0;
  }
}

.nix-webring {
  --color: #c9bbf9;
}
[data-theme="light"] .nix-webring {
  --color: #b6aaf5;

  a, .webring-links a {
    color: var(--fg);
  }
}

.safont-webring {
  display: flex;
  justify-content: center;
}

// Site buttons

.buttonless p {
  display: inline-block;

  width: 88px;
  height: 31px;

  border: 1px solid var(--fg);
  margin-inline: 0.1rem;
  overflow: hidden;

  color: var(--bg);
  text-decoration: none;

  a {
    margin: 0;
    font-size: 0.65em;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    color: inherit;
  }

  // Alternate colors every 3 links
  &:nth-child(3n+1) {
    background-color: var(--primary);
  }
  &:nth-child(3n+2) {
    background-color: var(--secondary);
  }
  &:nth-child(3n) {
    background-color: var(--tertiary);
  }
}
