{{ $notInWorlds := ne .Page.FirstSection (.Site.GetPage "/worlds") }}
{{ $isAllCharactersPage := eq .Page (.Site.GetPage "/worlds/characters") }}
{{ $notWorldPage := or $notInWorlds (le (len .Page.Ancestors) 1) $isAllCharactersPage }}
<header>
  <div class="header-wrapper">
    <nav class="tabs">
      <a id="nav_home" href="/">
        {{ partial "utils/svg" "mimvoid_icon" }}
        {{ site.Title }}
      </a>
      {{ if $notWorldPage }}
        <span id="nav_pages">
          {{ range site.Menus.tabs }}
            <a href="{{ .Page.RelPermalink }}">{{ .Name }}</a>
          {{ end }}
        </span>
      {{ end }}
    </nav>
    <div class="right">
      <button type="button" id="theme_toggle" aria-label="Change to light theme">
        <div id="theme_toggle_icon" class="icon-box">
          {{ partial "utils/svg" "ph-sun" }}
          {{ partial "utils/svg" "ph-moon" }}
        </div>
        {{ if $notWorldPage }}
          <div id="theme_toggle_cord">
            {{ range seq 5 }}<div class="circle"></div>{{ end }}
            <div class="knob"></div>
          </div>
        {{ end }}
      </button>
      {{ if $notWorldPage }}
        <div class="actions desktop-only">
          <a
            href="https://neocities.org/site/mimvoid"
            aria-label="Window hide button - mimvoid's Neocities profile"
          >
            {{ partial "utils/svg" "ph-minus" }}
          </a>
          <a
            href="https://neocities.org/site/mimvoid"
            aria-label="Window maximize button - mimvoid's Neocities profile"
          >
            {{ partial "utils/svg" "ph-cards" }}
          </a>
          <a
            href="https://neocities.org"
            aria-label="Window close button - Neocities homepage"
          >
            {{ partial "utils/svg" "ph-x" }}
          </a>
        </div>
      {{ end }}
      <div class="nav-toggle mobile-only">
        <button
          type="button"
          id="nav_opener"
          aria-label="Open navigation menu"
        >
          {{ partial "utils/svg" "ph-folders" }}
        </button>
      </div>
    </div>
  </div>
</header>
