{{- $data := default "gallery.json" (.Get "data") -}}
{{- $path := default "gallery/" (.Get "path") -}}

{{ range .Page.Resources.Get $data | transform.Unmarshal }}
  <h2>{{ .year }}</h2>
  <div class="gallery-content">
    {{ range .items }}
      {{- $i := . -}}
      {{- with $.Page.Resources.Get (print $path .file) -}}
        <figure class="polaroid">
          <img
            loading="lazy"
            src="{{ .RelPermalink }}"
            width="{{ .Width }}"
            height="{{ .Height }}"
            alt="{{ $i.alt }}"
            title="{{ $i.desc }}{{ with $i.creation }} ({{ . }}){{ end }}"
          />
          {{- if or ($i.desc) ($i.creation) -}}
            <figcaption>
              <p>
                {{ $i.desc }}{{ with $i.creation }} ({{ . }}){{ end }}
              </p>
            </figcaption>
          {{- end -}}
        </figure>
      {{- end -}}
    {{ end }}
  </div>
{{ end }}
