{{- $data := .Get 0 -}}
{{- $dataFile := print $data ".json" -}}

{{- range resources.Get (path.Join "images/galleries" $dataFile) | transform.Unmarshal -}}
  {{- $year := .year -}}
  {{- $items := .items -}}
  {{- with $.Get 1 -}}
    {{- $items = where $items "tags" "intersect" (split . " ") -}}
  {{- end -}}

  {{- with $items -}}
    <h2>{{ $year }}</h2>
    <div class="gallery-content">
      {{- range . -}}
        {{- if $img := resources.Get (path.Join "images/galleries" $data .file) -}}
          {{- $date := default $year .creation -}}
          {{- $fullDesc := printf "%s (%s)" .desc $date -}}

          <figure>
            <img
              loading="lazy"
              src="{{ $img.RelPermalink }}"
              width="{{ $img.Width }}"
              height="{{ $img.Height }}"
              alt="{{ default .desc .alt }}"
              title="{{ $fullDesc }}"
              {{- if .tw -}}class="tw-img"{{- end -}}
            />
            {{- with .tw -}}
              <p class="tw">TW: {{ delimit . ", " }}</p>
            {{- end -}}
            <figcaption><p>{{ $fullDesc }}</p></figcaption>
          </figure>
        {{- end -}}
      {{- end -}}
    </div>
  {{- end -}}
{{- end -}}
