{{- $data := .Get 0 -}}
{{- $dataFile := print $data ".json" -}}

{{- range resources.Get (path.Join "images/galleries" $dataFile) | transform.Unmarshal -}}
  {{- $year := .year -}}

  {{- $items := .items -}}
  {{- with $.Get 1 -}}
    {{- $items = where $items "tags" "intersect" (split . " ") -}}
  {{- end -}}

  {{- with $items -}}
    <h2>{{ $year }}</h2>
    <div class="gallery-content">
      {{- range . -}}
        {{- $alt := default .desc .alt -}}
        {{- $date := default $year .creation -}}
        {{- $fullDesc := printf "%s (%s)" .desc $date -}}

        {{- with resources.Get (path.Join "images/galleries" $data .file) -}}
          <figure>
            <img
              loading="lazy"
              src="{{ .RelPermalink }}"
              width="{{ .Width }}"
              height="{{ .Height }}"
              alt="{{ $alt }}"
              title="{{ $fullDesc }}"
            />
            <figcaption><p>{{ $fullDesc }}</p></figcaption>
          </figure>
        {{- end -}}
      {{- end -}}
    </div>
  {{- end -}}
{{- end -}}
