{{-
  $licenses := dict
  "OFL" (dict "link" "https://openfontlicense.org")
  "CC BY-NC 3.0" (dict "link" "https://creativecommons.org/licenses/by-nc/3.0")
  "GNU GPL V2" (dict "name" "GNU GPL v2" "link" "http://www.gnu.org/licenses/old-licenses/gpl-2.0.html")
  "APACHE 2.0" (dict "name" "Apache 2.0" "link" "https://www.apache.org/licenses/LICENSE-2.0")
-}}

{{- with .Get 0 -}}
  <p>
    {{- $upperName := strings.ToUpper . -}}
    License: {{ with index $licenses $upperName }}
      <a href="{{- .link -}}" target="_blank" rel="noopener noreferrer">
        {{- default $upperName .name -}}
      </a>
    {{ else }}
      {{- . -}}
    {{ end }}
  </p>
{{- end -}}
