{{- $font_face := resources.Get "scss/partials/_font-face.scss" -}}

{{- $fonts := .Page.Resources.Get "fonts.scss" -}}

{{- if (.Get 0) -}}
  {{- $u := urls.Parse (.Get 0) -}}
  {{- $fonts = .Page.Resources.Get $u.Path -}}
{{- end -}}

{{- $result_path := delimit (slice .Page.Path "fonts.scss") "/" -}}

{{- $style := slice $font_face $fonts | resources.Concat $result_path -}}

{{ with $style | toCSS (dict "transpiler" "dartsass") | minify | fingerprint }}
<link
  type="text/css"
  rel="stylesheet"
  href="{{ .RelPermalink }}"
  integrity="{{ .Data.Integrity }}"
>
{{ end }}
