{{- $font_face := resources.Get "scss/partials/_font-face.scss" -}}

{{- $path := "fonts.scss" -}}
{{- with .Get 0 -}}
  {{- $path = urls.Parse . | urls.Path -}}
{{- end -}}

{{- $fonts := .Page.Resources.Get $path -}}
{{- $result_path := urls.JoinPath .Page.Path $path -}}

{{- $style := slice $font_face $fonts | resources.Concat $result_path -}}

{{ with $style | toCSS (dict "transpiler" "dartsass") | minify | fingerprint }}
<link
  type="text/css"
  rel="stylesheet"
  href="{{ .RelPermalink }}"
  integrity="{{ .Data.Integrity }}"
>
{{ end }}
