<div class="relation">
  <div class="intro">
    {{- with .Get "page" -}}
      {{- with $page := $.Page.GetPage . -}}
        {{- with $page.Resources.GetMatch "avatar" -}}
          <a href="{{ $page.RelPermalink }}">
            <img
              src="{{ .RelPermalink }}"
              class="avatar {{ with $.Get "class" }}{{ . }}{{ end }}"
              width="{{ .Width }}"
              height="{{ .Height }}"
              loading="lazy"
            />
          </a>
        {{- end -}}
        <div>
          <h3><a href="{{ .RelPermalink }}">{{ default .Title ($.Get "title") }}</a></h3>
          {{- with $.Get "rel" -}}
            <p><strong>Relation</strong>: {{ . }}</p>
          {{- end -}}
        </div>
      {{- end -}}
    {{- else with .Get "name" -}}
      <h3>{{ . }}</h3>
      {{- with $.Get "rel" -}}
        <p><strong>Relation</strong>: {{ . }}</p>
      {{- end -}}
    {{- end -}}
  </div>
  <div class="content">
    {{- $.Inner -}}
  </div>
</div>
