{{ define "head-extra" }}
  {{ partial "utils/style" "scss/pages/sacrificial.scss" }}
  {{ if .Params.character }}
    <style>h1 { font-size: 3.5em; }</style>
  {{ end }}
{{ end }}

{{ define "nav" }}
  {{ partialCached "worlds/nav" "worlds/sacrificial" "sacrificial" }}
{{ end }}

{{ define "pre-article" }}
  {{ if .Params.character }}
    {{ partialCached "worlds/character-tabs" . }}
  {{ end }}
{{ end }}

{{ define "article-head" }}
  {{ if and (not .Params.character) .IsPage }}
    {{ partial "worlds/breadcrumb" . }}
  {{ end }}
{{ end }}
