@use "../partials/courier-prime";

// Variables

:root {
  --body: "Courier Prime", "Courier New", "Courier", monospace;
  --border-radius: 0;
  --border-size: 1px;
  --active-border: var(--fg);
  --inactive-border: var(--fg-dim);
}

[data-theme="dark"] {
  --bg: rgb(35, 30, 54);
  --fg: rgb(232, 223, 221);
  --fg-dim: rgb(195, 182, 197);
  --overlay: rgb(48, 43, 62);
  --overlay-dim: rgb(45, 38, 62);

  --primary: rgb(170, 160, 222);
  --secondary: rgb(220, 178, 250);
  --tertiary: rgb(205, 78, 132);

  --bg-img: none;
}

[data-theme="light"] {
  --bg: rgb(230, 197, 190);
  --fg: rgb(31, 30, 55);
  --fg-dim: rgb(64, 48, 80);
  --overlay: rgb(230, 192, 190);
  --overlay-dim: rgb(220, 188, 185);

  --primary: rgb(75, 52, 96);
  --secondary: rgb(98, 58, 98);
  --tertiary: rgb(165, 52, 85);

  --bg-img: url(../../images/halftone-1.webp);
  --bg-size: 400px;
}

// Elements

// headings in caps
h1, h2 {
  text-transform: uppercase;
}
h3, h4, h5, h6 {
  font-variant: small-caps;
}
h1 {
  text-decoration: 0.05em underline;
  text-underline-offset: 0.25em;
}
// don't change color for links in headings
h3 a {
  color: var(--heading-color);
  &:not(:visited) {
    color: var(--heading-color);
  }
}

blockquote {
  border: 1px solid var(--fg-dim);
  padding: 1em;
  background-color: var(--bg);
  p {
    margin: 0;
  }
}

table {
  border-color: var(--fg-dim);
  background-color: var(--overlay-dim);
  td {
    border-top: 1px solid var(--fg-dim);
  }
}

// Classes

h2.section {
  margin-top: 2em;
  font-family: var(--body);
  font-size: 1.25em;
  text-transform: none;
}
.summary {
  margin-bottom: 2em;
}

.card {
  border: 1px solid var(--fg-dim);
  background-color: var(--bg) !important;
}

