@use "sass:map";

$sections: (1: info, 2: history, 3: relations, 4: gallery, 5: extra);

// Display sections only when they're selected
@each $i, $class in $sections {
  section.#{$class} {
    display: none;
  }
  article:has(#tab-nav-#{$i}:checked) section.#{$class} {
    display: block;
  }
}

// Hide summary in later sections
@each $i, $class in map.remove($sections, 1) {
  article:has(#tab-nav-#{$i}:checked) .summary {
    display: none;
  }
}

.character-tabs {
  display: flex;
  flex-wrap: wrap-reverse;
  margin: 1em 0 3em 0;
  gap: 1em;

  font-family: var(--body);
  font-size: 0.95rem;

  input {
    display: none;
  }
  label {
    cursor: pointer;
    transition: var(--transition);

    border: none;

    background-color: transparent;
    color: var(--primary);
  }

  // Style the active tab label
  label:focus, label:hover, input:checked + label {
    color: var(--tertiary);
  }
  input:checked + label {
    text-decoration: 1px underline;
    &::before {
      content: "> ";
    }
  }

  .world-link {
    margin-left: auto;
    text-decoration: none;
    color: var(--link-color);

    &:focus, &:hover {
      color: var(--tertiary);
    }
  }
}
