.cards {
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
}

.card {
  padding: 1em 1em 0.6em 1em;
  text-align: center;

  h3 {
    font-size: 1.25em;
  }

  p {
    font-size: 0.9em;
  }
}

.placeholder {
  height: 10em;
  weight: 10em;
  background-color: var(--overlay);
}
