figure.zoomable {
  cursor: pointer;
}

figure.zoomed {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  margin: 0;
  padding: 1em;

  background-color: rgba(0, 0, 0, .85);
  cursor: zoom-out;

  img {
    width: auto;
    max-height: 95%;
  }

  figcaption {
    color: ghostwhite;
  }

  p {
    margin: 0.75em 0;
  }
}
