@use "./polaroid";

.gallery-content {
  columns: 3 14rem;
  column-gap: 0.5rem;

  figure {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 100%;

    &:focus, &:hover {
      p.tw {
        opacity: 1;
      }
    }
  }

  img.tw-img {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); // blur edges less
    filter: blur(3px) saturate(75%);
    image-rendering: pixelated;
  }
}

p.tw {
  pointer-events: none;
  opacity: 0;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  $shadow: drop-shadow(0 0 2px var(--bg));
  filter: $shadow $shadow $shadow;

  margin: 0;
  transition: var(--transition);

  @media (orientation: portrait) {
    opacity: 1;
  }
}

figure.zoomed p.tw {
  display: none;
}
