<div id="gfdkris">
  <script type="text/javascript" src="https://fabstarotcorner.neocities.org/webring/onionring-variables.js"></script>
  <script type="text/javascript" src="https://fabstarotcorner.neocities.org/webring/onionring-widget.js"></script>
</div>
<div class="webring nix-webring">
  <a href="https://nixwebr.ing" class="name">
    {{ partial "utils/svg" "pai-ac" }}
    nixwebr.ing
  </a>
  <p class="webring-links">
    <a href="https://nixwebr.ing/prev/mimvoid"><-</a><a href="https://nixwebr.ing/rand">??</a><a href="https://nixwebr.ing/next/mimvoid">-></a>
  </p>
</div>
<div class="safont-webring">
  <script src="https://xandra.cc/safonts/webring.js"></script>
  <ring-900 site="{{ site.Home.Permalink }}"></ring-900>
</div>
