/* Import fonts from Bunny Fonts, privacy-friendly alternative to Google Fonts */
@import url(https://fonts.bunny.net/css?family=karla:400,400i,600|fira-code:700);

/* Define variables */
:root {
  /* Colors */
  --bg: #24273a;
  --fg: #cad3f5;
  --main-accent: #f5bde6;
  --sec-accent: #c6a0f6;
  --border-color: var(--main-accent);
  --link-color: var(--main-accent);
  --link-color-old: var(--sec-accent);
  /* Fonts */
  --body-font: 'Karla', sans-serif;
  --header-font: 'Fira Code', serif;
  /* Images */
  --bg-img: url('/_assets/bck-grid_sadgrl.webp');
}

* {
  box-sizing: border-box;
}


/* Loading */

/* HACK:? loading in elements from javascript causes a sort of flickering
 * as they load in and reposition, this is meant to hide some of it */

body {
  -webkit-animation-name: fadebody;
  -webkit-animation-duration: 0.3s;
  animation-name: fadebody;
  animation-duration: 0.3s
}

@-webkit-keyframes fadebody {
  from { opacity: 0 } 
  to { opacity: 1 }
}

@keyframes fadebody { 
  from { opacity: 0 } 
  to { opacity: 1 }
}


/* General styling */

body {
  background-image: var(--bg-img);
  background-color: var(--bg);
  color: var(--fg);
  
  font-family: var(--body-font);
  font-size: 1.1em;
}

h1, h2, h3, h4 {
  font-family: var(--header-font);
}


/* Link colors */

a {
  text-decoration: none;
  color: var(--link-color);
}

/* "> Link name" appears when hovered or focused */ 
.sidebar a:hover:before, .sidebar a:focus:before {
  content: "> ";
  color: var(--fg);
  left: 0;
  top: 0;
}

/* Only change color for links in main content */
.main a:visited {
  color: var(--link-color-old);
}


/* Lists */

li {
  padding: 0.25rem 0;
}

/* color the bullets */
li::marker {
  color: var(--main-accent);
}


/* Details (toggle lists) */

/* hide the default triangle */
details summary::-webkit-details-marker {
  display: none;
}

summary {
  display: block;
  position: relative;
  left: 0.9rem;
  padding: 0.5rem 0;
  font-weight: bold;
  cursor: pointer;
}

/* replace the triangle */
summary:before {
  content: '> ';
  color: var(--main-accent);
  font-weight: bold;
  position: absolute;
  left: -0.9rem;
  transform: rotate(0);
  transform-origin: 0.3rem 50%;
  transition: 0.1s transform;
}

/* triangle animation */
details[open] > summary:before {
  transform: rotate(90deg);
}


/* Date stats */

hr {
  margin: 1.5em 0;
}

.dates {
  text-align: right;
  font-size: 0.9em;
}


/* Header & footer */
.header, .footer {
  text-align: center;
}

.header {
  margin: 4em 0 1em 0;
}

.footer {
  margin: 4em 0 2.5em 0;
  font-size: 0.9em;
}


/* Body & sidebar positions */

.wrapper {
  padding: 0 8%;
}

.body {
  display: flex;
}

.sidebar {
  flex: 20%;
}

.main {
  flex: 80%;
}

nav {
  position: sticky;
  top: 1.5em;
}

/* Content boxes */
.box {
  border: 2px solid var(--border-color);
  border-radius: 4px;
  margin: 0.75em 0.6em;
  background-color: var(--bg);
}

.sidebar nav > .box {
  padding: 0.85em;
}

.main > .box {
 padding: 1em 2em;
}


/* Different screen ratios */
@media(max-width: 940px) {
  .wrapper {
    padding: 4% 6% 0 6%;
  }
}

@media(max-width: 840px) {
 .wrapper {
   padding: 4%;
   padding-bottom: 0;
 }
}

@media(max-width: 700px) {
  .wrapper {
    padding: 4% 1% 0 1%;
  }
}

@media(orientation: portrait), (max-width:440px) {
  .wrapper {
    padding: 0;
    padding-top: 2%;
  }
  
  .body {    
    display: inline;
  }
  
  .box {
    margin: 0.4em;
  }
  
  .sidebar {
    align-items: center;
    justify-content: center;
  }
  
  nav {
    position: static;
    border: 2px solid var(--border-color);
    border-radius: 4px;
    margin: 0.75em 0.4em;
    padding: 1em;
    columns: 2;
  }
  
  nav > .box {
    display: contents; /* makes text behave as if they have no .box parent */
    text-align: center;
  }
  
  /* HACK: work out how to properly make columns or a button to hide or show links */
  nav h4 {
    display: none; 
  }

  .sidebar a:hover:before, .sidebar a:focus:before {
    content: "";
  }

  .main > .box {
    padding: 1em;
  }
}
